/* styles.css */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #34a853;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.branding h1 {
    margin: 0;
}

.user-actions a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

nav {
    background-color: #f8f9fa;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #343a40;
    font-weight: 600;
}

.search-container {
    margin: 20px;
    text-align: center;
}

#searchInput {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #34a853;
    color: white;
    border: none;
    cursor: pointer;
}

section {
    padding: 40px;
}

section h2 {
    color: #34a853;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-actions {
        margin-top: 10px;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        margin: 10px 0;
    }
}
